<html>
<head>
    <title>{{ brand.getBrandName }}</title>
</head>
    <body>
        <h1><center>{{ brand.getBrandName }}</center></h1>
        <hr>


        {% if stores is not empty %}
            <p>{{ brand.getBrandName}} is currently abvailable at the following stores:</p>
            <ul>
                {% for store in stores %}
                    <li>{{ store.getStoreName }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>{{ brand.getBrandName }} is not currently available.</p>
        {% endif %}


        {% if stores is not empty %}
        <h4>Add a store:</h4>
        <form action="/add_store" method="post">
            <input id="brand_id" name="brand_id" type="hidden" value="{{ brand.getId() }}">
            <label for = "store_id">Select a store:</label>
            <select id='store_id' name='store_id' type='text'>
                {% for store in stores %}
                    <option value="{{ store.getId }}"> {{ store.getStoreName }} </option>
                {% endfor %}
            </select>
            <button type="submit">Add store</button>
        </form>
        <br>
        {% else %}
        <p>There are currently no stores available. You can add a new store <a href='add_store'>here</a>.
        {% endif %}


        <a href = '/'>Home</a>


    </body>
</html>
