<html>
<head>
    <title>{{ store.getStoreName }}</title>
</head>
    <body>
        <h1><center>{{ store.getStoreName }}</center></h1>
        <hr>


        {% if available_brands is not empty %}
            <p>Here are the brands available at {{ store.getStoreName }}:</p>
            <ul>
                {% for brand in available_brands %}
                    <li>{{ brand.getBrandName }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>This store is not currently carrying any shoe brands.</p>
        {% endif %}


        {% if brands is not empty %}
        <h4>Add a brand:</h4>
        <form action="/add_brand/{id}" method="post">
            <input id="store_id" name="store_id" type="hidden" value="{{ store.getId() }}">
            <label for = "brand_id">Select a brand:</label>
            <select id='brand_id' name='brand_id' type='text'>
                {% for brand in brands %}
                    <option value="{{ brand.getId }}"> {{ brand.getBrandName }} </option>
                {% endfor %}
            </select>
            <button type="submit">Add brand</button>
        </form>
        {% else %}
        <p>There are currently no brands available. You can add a new brand <a href='add_brand'>here</a>.
        {% endif %}
        <br>

        <h4>Edit this Store Name:</h4>
            <form action="/store/{{ store.getId }}" method="post">
                <input name="_method" type="hidden" value="patch">
                <label for="store_name">New store name:</label>
                <input id="store_name" name="store_name" type="text" placeholder="New Name" required>
                <button type="submit">Submit</button>
            </form>
        <br>
        <hr>

        <form action="/store/{{ store.getId }}" method="post">
            <input name="_method" type="hidden" value="delete">
            <button type="submit">Delete This Store</button>
        </form>


        <a href = '/'>Home</a>


    </body>
</html>
